@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.dropdown-toggle::after {
  display: none !important;
}

.custom-toggle {
font-size: 10px;
margin-left: 0.25rem;
margin-bottom: 0.1rem;
}

.navbarFont {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.navbar {
    --bs-navbar-color: #2F2E41 !important;
    --bs-navbar-hover-color: #000000 !important;
    --bs-navbar-disabled-color: #000000 !important;
    --bs-navbar-active-color: #000000 !important;
}

.pillButton {
  background-color: #E63946 !important;
  border: 0 !important;
}